body{
    background-image: url("https://wallpaperplay.com/walls/full/1/d/d/186733.jpg");
}
.display-4{
    color:#4aaaa5;
}
hr{
    border-top: 3px solid #dddddd;
}
p{
    font-family: 'Caudex' ;
    font-size: 24px;
}
#selfie{
    float: left;
    width :20rem;
    height:28rem;
    margin-right: 20px; 
    border:  #4aaaa5 solid 3px;
}
h1, h2, .form-group, li, .name{
    font-family: 'Merienda One';
    font-size: 24px;
}
.jumbotron{  
    background-color: white;
    border: solid 4px black;
    margin: 10rem 6rem 0rem 6rem;
    padding: 5rem;
    justify-content: center;
}
.jt1{
    margin: 10rem 10rem;
    /* display: fl; */
}
.nav1{
    background: rgb(216, 216, 216);
    border-bottom: black 4px solid;
    background-image: url("https://wallpaperplay.com/walls/full/1/d/d/186733.jpg");
    background-size: cover;
}
.nav-link { 
    text-decoration: none ; 
    color: white;
}
nav li a:link { 
    text-decoration: none ; 
    color: white;
}
nav li a:hover { 
    text-decoration: underline; 
    background-color: burlywood;
} 
.btn{
    background-color: #4aaaa5;
    padding: 12px 16px 12px 16px;
    color: white;
}   
li {
    margin-left: 3px;
    padding-top:2px;
    padding-right: 2px;
    border-right: 1px #dddddd solid;
} 
ul li:last-child{
    border: none;
}
.nav{
    margin: 1rem 3rem 0rem 2rem;
    float: right;
} 
#name{
    margin: 0px;
    color: white;
    padding: 2rem;
    float: left;
    background-color: #4aaaa5;
}
.footer{
    background-color: #d6d6d6;
    text-align: center;
    padding: 25px;
    border-top: 5px solid #4aaaa5;
    color: black;
}
.card{
    padding: 0rem;
    margin: .5rem;
    border: solid 3px #4aaaa5;
} 
.container{
    /* margin: 0; */
}